<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Node.js Nata | <%= title %></title>
  </head>
  <body>
    <h1>404 ERROR Node.js</h1>
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/blogs/create">New Blog</a>
    </nav>
    <div class="blogs-content">
      <h2>content</h2>
    </div>
  </body>
</html>
