<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Node.js Nata | <%= title %></title>
  </head>
  <body>
    <h1>About Node.js</h1>
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/blogs/create">New Blog</a>
    </nav>
    <div class="blogs-content">
      <form>
        <label for="fname">First name:</label><br />
        <input type="text" id="fname" name="fname" value="Nata" /><br />
        <label for="lname">Last name:</label><br />
        <input
          type="text"
          id="lname"
          name="lname"
          value="Glinska"
        /><br /><br />
        <input type="submit" value="Submit" />
      </form>
    </div>
  </body>
</html>
