<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Node.js Nata</title>
  </head>
  <body>
    <h1>Nata Node.js | <%= title %></h1>
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/blogs/create">New Blog</a>
    </nav>
    <div class="blogs-content">
      <h2>content</h2>
      
      <% if (blogs.length > 0) { %> <% blogs.forEach(blog => { %>
      <h3 class="title"><%= blog.title %></h3>
      <p class="snippet"><%= blog.snippet %></p>
      <% }) %> <% } else { %>
      <p>There are no blogs to display...</p>
      <% } %>
    </div>
  </body>
</html>
